body{
    background: linear-gradient(55deg, #423438 0%, #d44b4b 51%, #d9e5e9 85%);
    height: 3000px; /* Used to enable scrolling */
    height:100%;


}
.hightest-rated{
    background:center;
    background:cover;
    opacity:"0.7";
    border-top:"solid white 10px";
    height:100%;
   


}
.checked {
    color: orange;
  }
  